*{
	margin: 0;
	padding: 0;
}
body{
    
    background-image: url("../imagenes/dance.jpg");
    background-size: 500px;
    
}
.contenedor{
	width: 100%;
	max-width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
header{
	
	width: 100%;
	background:#ffffff;
}
header nav{
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	background: #c0c0c0;
}
.menu_bar{
	display: none;
}
header nav ul{
	overflow: hidden;
	list-style: none;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	padding: 20PX;
	display: block;
	text-decoration:none;
}
header nav ul li span{
	margin-right: 10px;
}
header nav ul li a:hover{
	background: #FAFAFA;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 60px;
	color: #2B2B2B;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	color: #2366d6;
	text-align: center;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	color: #5389e3;
	text-align: left;
}
section{
	width:100%;
	background: #FFFFFF;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#2687ac), color-stop(1, #ffffff) );
	background: -moz-linear-gradient( center bottom, #C0C0C0 0%, #FBE080 100% );
	padding: 20px;
	float: left;
	text-align: justify;
        box-sizing:border-box;
}
form{
    width: 100%;
    padding: 20px;
    box-sizing:border-box;
}
footer{
	text-align: center;
	background: transparent;
}
.imagen{
	height: 500px;
	margin-top: 100px;
	margin-left: 105px;
}
@media screen and (max-width: 800px){
	header nav{
		width: 80%;
		height:100%;
		left: -100%;
		margin: 0;
		position: fixed;
	}
	header nav ul li{
		display: block;
		float: none;
		border-bottom:1px solid rgba(255,255,255,0.3);
	}
	.menu_bar{
		display: block;
		width: 100%;
		background: #ccc;

	}
	.menu_bar .btn_menu{
		display: block;
		padding: 20px;
		background: #FFFFFA;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span{
		float: right;
	}
        
        button.submit{
            width: 100%;
            margin: 0;
        }
}
@media screen and (max-width: 400px){
	h1{
		font-size: 30px;
	}
        .registro label{
            width: 100%;
        }
        
        .registro input{
            width: 100%;
        }
        
        button.submit{
            width: 100%;
            margin: 0;
        }
        
        .registro select{
        	width: 100%
        	
        }
}